// Header
header.header
  .container
    .inner-wrap
      // Menu Mobile
      button.inner-menu-mobile
        i.fa-solid.fa-bars
      // Logo
      .inner-logo
        a(href="#")
          img(
            alt="" 
            src="/assets/images/logo.png"
            )
      // Menu
      nav.inner-menu
        .inner-overlay
        ul
          li
            a.active(href="#") Trang Chủ
          li
            a(href="#") Tour Trong Nước
            i.fa-solid.fa-caret-down
            ul
              li
                a.active(href="#") Tour Miền Bắc
              li
                a(href="#") Tour Miền Trung
              li
                a(href="#") Tour Miền Nam
              li
                a(href="#") Tour Xuyên Việt
          li
            a(href="#") Tour Nước Ngoài
            i.fa-solid.fa-caret-down
            ul
              li
                a(href="#") Tour Châu Á
              li
                a(href="#") Tour Châu Âu
              li
                a(href="#") Tour Châu Mỹ
              li
                a(href="#") Tour Châu Úc
          li
            a(href="#") Tin Tức
          li
            a(href="#") Liên Hệ
      // Cart
      .inner-cart
        a(href="#")
          img(
            alt="" 
            src="/assets/images/icon-cart.svg"
            )
          span 1
// End Header