// Top Header
.top-header
  .container
    .inner-wrap
      .inner-item
        i.fa-solid.fa-phone
        | 0123.456.789
      .inner-item
        i.fa-solid.fa-envelope
        | contact@28travel.com
      .inner-item
        i.fa-solid.fa-building
        | Số 123, đường ABC, thành phố XYZ
// End Top Header