doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block title
    link(rel="stylesheet", href="assets/css/style.css")
  body
    
    .page-account
      block main

    script(src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js")
    script(src="assets/js/account.js") 