extends ../layouts/default.pug

block main
  
  h1.box-title Đổi mật khẩu

  //- Section 8
  .section-8
    form(id="profile-change-password-form")
      .inner-group
        label(for="password" class="inner-label") Mật khẩu mới
        input(type="password" id="password" name="password")
      .inner-group
        label(for="confirmPassword" class="inner-label") Nhập lại mật khẩu mới
        input(type="password" id="confirmPassword" name="confirmPassword")
      .inner-button.inner-two-col
        button Đổi mật khẩu
  //- End Section 8