extends ../layouts/default.pug

block title
  title Tạo tài khoản quản trị

block main
  
  h1.box-title Tạo tài khoản quản trị

  //- Section 8
  .section-8
    form(id="setting-account-admin-create-form")
      .inner-group
        label(for="fullName" class="inner-label") Họ tên
        input(type="text" id="fullName" name="fullName")
      .inner-group
        label(for="email" class="inner-label") Email
        input(type="email" id="email" name="email")
      .inner-group
        label(for="phone" class="inner-label") Số điện thoại
        input(type="text" id="phone" name="phone")
      .inner-group
        label(for="role" class="inner-label") Nhóm quyền
        select(id="role" name="role")
          option(value="Quản trị viên") Quản trị viên
          option(value="Quản lý tour") Quản lý tour
          option(value="Quản lý đơn hàng") Quản lý đơn hàng
      .inner-group
        label(for="positionCompany" class="inner-label") Chức vụ
        input(type="text" id="positionCompany" name="positionCompany")
      .inner-group
        label(for="status" class="inner-label") Trạng thái
        select(id="status" name="status")
          option(value="active") Hoạt động
          option(value="inactive") Tạm dừng
      .inner-group
        label(for="password" class="inner-label") Mật khẩu
        input(type="text" id="password" name="password")
      .inner-group.inner-two-col
        label(for="avatar" class="inner-label") Ảnh đại diện
        .inner-upload-image
          input(
            type="file" 
            id="avatar"
            name="avatar"
            filepond-image
            )
      .inner-button.inner-two-col
        button Tạo mới
    .inner-back
      a(href="#") Quay lại danh sách
  //- End Section 8