mixin blog-item-1
  .blog-item
    a(href="#")
      .inner-image
        img(
          alt="" 
          src="/assets/images/blog-1.jpg"
          )
      .inner-content
        .inner-date 24/04/2025
        h3.inner-title Homestay “cổ tích” giữa Đà Lạt mộng mơ

mixin blog-item-2
  .blog-item-2
    a(href="#")
      .inner-image
        img(
          alt="" 
          src="/assets/images/blog-2.jpg"
          )
      .inner-content
        .inner-date 24/04/2025
        h3.inner-title Top 5 điểm check in độc đáo tại Singapore
        .inner-desc
          | Nếu bạn nghĩ du lịch Singapore rất nhàm chán vì chỉ mãi quanh quẩn trong những khối bê tông vô cảm thì bạn “chắc chưa?”. Tuy đảo quốc Sư Tử không phải là một quốc gia rộng lớn nhưng các địa điểm du lịch tại Singapore chưa từng đánh mất sức hút đối với cộng đồng xê dịch quốc tế.
    