mixin box-breadcrumb()
  // Box Breadcrumb
  .box-breadcrumb
    .inner-image
      img(
        alt="" 
        src="/assets/images/banner-6.jpg"
        )
    .inner-content
      .container
        h1.inner-title Tour Nước Ngoài
        nav.inner-links
          ul
            li
              a(href="#") Trang Chủ
              i.fa-solid.fa-angles-right
            li
              a(href="#") Tour Nước Ngoài
              i.fa-solid.fa-angles-right
  // End Box Breadcrumb