mixin section-5(link="")
  .section-5
    .container
      .inner-image(
        data-aos-duration="800" 
        data-aos="fade-up"
        )
        a(href="#")
          img(
            alt="" 
            src=link
            )